/* Universal */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.3;
  color: #4a4a4a;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
}


/* Nav */

header {
  display: flex;
  align-items: center;
  height: 64px;
}
.logo-tag {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 32px;
  padding: 0 8px;
}
.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 16px;
}
.logo-text {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.first {
  font-weight: bold;
}
.nav span {
  padding-right: 16px;
}
.mobile-nav {
  display: none;
}


/* Nav Media Query */

@media only screen and (max-width: 630px) {
  .mobile-container {
    width: 100%;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  .logo-text {
    display: none;
  }
  .logo img {
    display: none;
  }
  .nav span{
    display: none;
  }
}

/* Hero */

.hero-container {
  background-color: #d8d8d8;
  padding: 32px 24px;
}
.hero {
  display: flex;
  align-items: center;
}
.img-holder {
  width: 60%;
}
.img-holder img {
  width: 100%;
  height: auto;
}
.content {
  margin: 0 24px;
  width: 30%;
}
.content h3 {
  padding: 24px 0;
}
.button {
  background-color: #4a4a4a;
  padding: 8px 0;
  text-align: center;
  color: white;
  transition: all 200ms ease-in;
}
.button:hover {
  background-color: white;
  color: #4a4a4a;
}


/* Hero Media Query */
@media only screen and (max-width: 830px) {
  .content h1 {
    font-size: 1.75rem;
  }
  .content h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 630px) {
  .hero-container {
    padding: 0;
  }
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }
  .img-holder {
    width: 100%;
  }
  .content {
    width: 90%;
    margin: 32px 0;
    padding-left: 16px;
  }
  .content h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  .content h3 {
    font-size: 1rem;
    line-height: 1;
  }
  .button {
    font-size: .85rem;
    background-color: #9b9b9b;
  }
}

/* Main Content */

.main-container {
  display: flex;
}
.main {
  width: 60%;
  padding: 32px 24px;
}
.main img {
  width: 100%;
  height: auto;
}
.main h2 {
  line-height: 1.3;
  padding: 32px 0 24px 0;
}
.cite {
  font-weight: bold;
  padding-top: 32px;
}
.side-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 40%;
  border-left: solid 1px #d8d8d8;;
}
.side-container {
  display: flex;
  align-items: center;
  padding: 16px;
}
.side-container:first-child {
  margin-top: 16px;
}
.side-container:last-child {
  background-color: #d8d8d8;;
}
.side-container:hover {
  border: solid 1px black;
}
.mobile {
  display: none;
}
.image {
  width: 35%;
}
.image img {
  width: 100%;
  height: auto;
}
.sidebar-content {
  padding-left: 16px;
  width: 65%;
}
.sidebar-content h3 {
  padding: 8px 0;
}
.link {
  color: #0099ff;
  padding-top: 8px;
}

/* Main Content Media Query */
@media only screen and (max-width: 830px) {
  .full {
    display: none;
  }
  .mobile {
    display: block;
  }
  .image {
    width: 100%;
  }
  .side-content {
    width: 40%;
  }
  .side-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar-content {
    padding-left: 16px;
    width: 100%;
}
  .side-container h3 {
    font-size: 1rem;
  }
  .side-container p {
    font-size: 0.70rem;
  }
}

@media only screen and (max-width: 630px) {

  .main {
    display: none;
  }
  .image {
    width: 100%;
  }
  .side-content {
    width: 100%;
  }
  .side-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .sidebar-content {
    padding-left: 16px;
    width: 100%;
}
.side-container:last-child {
  background-color: white;
}
}

/* Courses Section */

.learning-container {
  background-color: #eaebec;
  margin: auto;
  padding: 0 72px;
}
.learning-container h2 {
  padding-top: 32px;
  text-align: center;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.course {
  border: 1px solid black;
  background-color: white;
  width: 300px;
  height: auto;
  margin: 32px;
}
.course img {
  height: auto;
  width: 100%;
}
.course h3 {
  margin: 16px 0 8px 16px;
}
.course:hover {
  background-color: black;
  color: white;
}
.title {
  text-transform: uppercase;
  padding: 8px 0 8px 16px
}
.about {
  padding: 8px 0 24px 16px;
}

/* Courses Media Query */
  @media only screen and (max-width: 880px) {
    .course {
    width: 250px;
    height: auto;
    margin: 16px;
  }
  }
  @media only screen and (max-width: 712px) {
    .learning-container {
      background-color: white;
      padding: 0;
    }
    .learning-container h1 {
      font-size: 1.5rem;
    }
    .course img {
      display: none;
    }
    .course p {
      display: none;
    }
    .course {
      margin: 16px 16px 8px 16px;
      padding: 16px 0 24px 16px;
      border: none;
      width: 100%;
      height: auto;
      background-color: #d8d8d8;
    }
    .mobile-course {
      padding: 16px 0 24px 16px;
    }
  }

/* Thesis */

.section-container h2 {
  padding-top: 32px;
  text-align: center;
}
.thesis-container {
  display: flex;
}
.thesis {
  width: 60%;
  padding: 32px 24px;
}
.thesis video {
  width: 100%;
  height: auto;
}
.thesis h3 {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 32px 0 24px 0;
}
.thesis-side-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 40%;
}
.thesis-side-container {
  display: flex;
  align-items: center;
  padding: 16px;
}
.thesis-side-container:hover {
  border: solid 1px black;
}
.thesis-side-container:first-child {
  margin-top: 32px;
}
.thesis-side-container:first-child {
  background-color: #d8d8d8;
}
.thesis-image {
  width: 35%;
}
.thesis-image img {
  width: 100%;
  height: auto;
}
.thesis-sidebar-content {
  padding-left: 16px;
  width: 65%;
}
.thesis-sidebar-content h3 {
  padding-bottom: 8px;
}
.thesis-sidebar-content p {
  line-height: 1.3rem;
}

/* Thesis Media Query */
@media only screen and (max-width: 830px) {
  .thesis-image {
    width: 50%;
    padding-left: 16px;
  }
  .thesis-side-content {
    width: 40%;
  }
  .thesis-side-container {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .thesis-sidebar-content {
    padding-left: 16px;
    width: 100%;
  }
  .thesis-side-container h3 {
    font-size: 1rem;
  }
  .thesis-side-container p {
    font-size: 0.70rem;
    line-height: 1;
}
}

@media only screen and (max-width: 630px) {
  .section-container h1 {
    font-size: 1.5rem;
  }
  .thesis-side-content {
    display: none;
  }
  .thesis h3 {
    display: none;
  }
  .thesis p {
    display: none;
  }
  .thesis {
    width: 100%;
    padding: 16px 0 24px 0;
  }
  .thesis video {
    width: 100%;
    height: auto;
  }
}

/* Footer */
footer {
  padding: 16px 8px 48px 24px;
  border-top: 1px solid lightgrey;
  display: flex;
}
.copyright {
  display: inline-flex;
  flex-grow: 1;
}
footer span {
  padding-right: 8px
}

@media only screen and (max-width: 630px) {
  footer span {
    display: none;
  }
  footer {
    padding: 16px auto;
  }
}
